@font-face {
    font-family: 'Santana';
    src: url('Santana-Black.woff2') format('woff2'),
        url('Santana-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

